// CSSカスタムプロパティ

*,
*::before,
*::after {
  /* 最小サイズ、最大サイズ、最小画面幅、最大画面幅 */
  --min-viewport: 375;
  --max-viewport: 701;

  /* a 傾き */
  --slope: calc((var(--max-size) - var(--min-size)) / (var(--max-viewport) - var(--min-viewport)));


  /* b 切片 */
  --intercept: calc(var(--min-size) - var(--slope) * var(--min-viewport));


  /* y = ax + b 可変サイズ */
  --fluid-size: calc(var(--slope) * 100vw + var(--intercept) / 16 * 1rem);


  /* clamp(最小サイズ, 可変サイズ, 最大サイズ) */
  --clamp-size: clamp(var(--min-size) / 16 * 1rem, var(--fluid-size), var(--max-size) / 16 * 1rem);
}
